.wrapper{
    width: 960px;
    margin: 0 auto;
}
.game-holder{
    text-align: center;
}
.game-box{
    margin: 20px auto 0;
    border: 1px solid #777;
    background-color: #fff;
    overflow: hidden;
}
.game-box span{
    float: left;
    /*height: 15px;
    width: 15px;*/
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.colored{
    background-color: crimson;
}